html {
  font-family: Arvo, Georgia, serif;
  color: #2e1b13;
}

a {
  border-bottom: .15em solid currentColor;

  color: #2e1b13;
  text-decoration: none;
}

.footer {
  background-color: #da823b;
  border-bottom: 3px solid #8e4a32;
  border-top: 3px solid #8e4a32;
}

.search-input {
  border-color: #84452f;
  background-image: url("../images/spy-glass.svg");
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 1.2em auto;
  padding-left: 1.5em;
}

.search-btn {

}

@media only screen and (min-width: 60em) {

  .search-label {
    text-align: right;
  }

}
